*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 2em;
    font-size: 16px;
    background-color: #35A7FF;
}

.container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 3px solid #ccc;
    border-radius: .8em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 1px 7px 6px 1px rgba(0,0,0,0.33);
-webkit-box-shadow: 1px 7px 6px 1px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 7px 6px 1px rgba(0,0,0,0.33);
}

.title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.group{
    margin-bottom: .5em;
}

label{
    display: block;
    width: 100%;
    margin-bottom: .5em;
}

.group-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-container .group{
    width: 49%;
}

input,textarea{
    width: 100%;
    min-width: 100%;
    padding: .5em;
    border-radius: .5em;
}

textarea{
    width: 100%;
    max-width: 100%;
    max-height: 5em;
    min-height: 5em;
}

input:focus,textarea:focus{
    outline: none;
}

.group-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button{
    width: 49%;
    border: none;
    padding: .5em;
    border-radius: .5em;
    color: #fff;
    cursor: pointer;
}

#calcular{
    background-color: #09475f;
}

#limpiar{
    background-color: #46946a;
}